// Style for list template
.entry {

  @media screen and (max-width: $tablet) {
    padding-top: $space-large;
  }

  &-list {
    width: 100%;
  }

  &-single {
    line-height: 1.8;
    margin: 25px 25px 0 0;
    box-shadow: 0.5px 5px 5px 1px $box-shadow-dark;
    display: inline-block;
    padding: 60px 60px 0;
    height: 17.7rem;
    width: 34.5rem;

    &:hover {
      box-shadow: 0px 1px 15px 0 rgba(137, 146, 177, 0.15), 0px 10px 20px 0 rgba(137, 146, 177, 0.15);
    }
  }

  &-cover {
    max-width: 100%;
    border-radius: $radius-large $radius-large 0 0;
    object-fit: cover;
    box-shadow: none;
  }

  &-title {
    padding: $space-normal $space-large 0;
    text-align: center;
    font-size: $size-6;
    font-weight: $weight-normal;
    color: $white;
  }

  &-link {
    font-size: $size-4;
    font-weight: $weight-bold;
    color: $text-title;
  }

  &-summary {
    padding: 0 $space-large;
    text-align: justify;
    line-height: 2.2rem;
    overflow: hidden;
    text-align: center;
    font-size: $size-2;
    font-weight: 200;
    color: $white;
    height: 70%;
  }

  &-footer {
    margin: 0 $space-large;
    padding: $space-small 0;
    border-top: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
  }

  &-meta {
    margin: 0;
    font-size: $size-7;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &-time {
    color: $grey-dark;

    &:after {
      content: '';
      border-right: 1px solid $border-color;
      margin: 0px 8px 0px 10px;
    }
  }
}

div.overlay {
  z-index: 1;
  height: 100px;
  width: 100px;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
}
