$table: $grey-dark;
$table-background: $light;
$table-border: $grey-light;
$table-head: $grey;
$table-row-hover-background: $grey-light;

table {
  background-color: $table-background;
  color: $table;
  margin: 2rem auto;
  width: 100%;
  border-collapse: collapse;
  border-radius: $radius-large;

  td,
  th {
    border: 1px solid $table-border;
    border-width: 0 0 1px;
    padding: 0.5em 0.75em;
    vertical-align: center;
  }

  th {
    color: $text-strong;
  }

  tr {
    &:hover {
      background-color: $table-row-hover-background;
    }
  }

  thead {
    td,
    th {
      border-width: 0 0 2px;
      color: $table-head;
    }
  }

  tfoot {
    td,
    th {
      border-width: 2px 0 0;
      color: $table-head;
    }
  }

  tbody {
    tr {
      &:last-child {
        td,
        th {
          border-bottom-width: 0;
        }
      }
    }
  }

  // Make border-radius
  tr:first-child th:first-child {
    border-top-left-radius: $radius-large;
  }
  tr:first-child th:last-child{
    border-top-right-radius: $radius-large;
  }
  tr:last-child td:first-child{
    border-bottom-left-radius: $radius-large;
  }
  tr:last-child td:last-child{
    border-bottom-right-radius: $radius-large;
  }
}

.price-table {
  background-color: $grey-light;
  font-size: $card-sub-font-size;
  box-shadow: 0.5px 5px 5px 1px $box-shadow-dark;
  position: relative;
  padding: 1.7rem 1rem 1.7rem 0.5rem;
  height: 100%;
  width: 400px;
  flex: 3;

  @media screen and (max-width: 1250px) {
    width: 34.5rem;
    margin-left: 0 !important;
  }

  @media screen and (max-width: 415px) {
    visibility: hidden;
    height: 0;
  }

  &-divided {
    border-right: 1px solid $grey;
  }
}

ul.pt-dashed-list {
  list-style-type: none;
  margin-bottom: 3rem;
  padding: 0;
}

ul.pt-dashed-list > li {
  text-indent: 5px;
}

ul.pt-dashed-list > li:before {
  content: "-";
  text-indent: -5px;
}
