<section class="header-container">
  <div class="heading" style="padding-left: 0px; width: 20rem">
    {{ if eq .Kind "home" }}
    <h1 class="title">{{ .Site.Title }}</h1>
    {{ else }}
    <h2 class="title">{{ .Site.Title }}</h2>
    {{ end }}
    <p class="subtitle">{{ .Site.Params.subtitle }}</p>
    <button class="btn btn-outline-primary btn-lg w-100" style="height: 20%; border-width: 2px">Try Free</button>
  </div>
  <div class="price-table row" style="width: 400px">
    <section class="price-table-divided col-sm">
      <p class="text-purple">INFRASTRUCTRE</p>
      <p style="margin-bottom: 0">Starting at</p>
      <h1>{{ .Site.Params.infrastructure_price }}</h1>
      <p>Per host, per month*</p>
      <p>{{ .Site.Params.infrastructure_sub }}</p>
      <ul class="pt-dashed-list">
        {{ range .Site.Menus.infra }}
        <li>{{ .Name }}</li>
        {{ end }}
      </ul>
      <p class="position-bottom"><a class="text-purple" href="#">See Details</a></p>
    </section>
    <section class="price-table-divided col-sm" style="padding-left: 1.5rem">
      <p class="text-green">APM</p>
      <p style="margin-bottom: 0">Starting at</p>
      <h1>{{ .Site.Params.apm_price }}</h1>
      <p>Per host, per month*</p>
      <p>{{ .Site.Params.apm_sub }}</p>
      <ul class="pt-dashed-list">
        {{ range .Site.Menus.apm }}
        <li>{{ .Name }}</li>
        {{ end }}
      </ul>
      <p class="position-bottom"><a class="text-green" href="#">See Details</a></p>
    </section>
    <section class="col-sm" style="padding-left: 1.5rem">
      <p class="text-red">LOGS MANAGEMENT</p>
      <p style="margin-bottom: 0">Starting at</p>
      <h1>{{ .Site.Params.logs_management_price }}</h1>
      <p>Per host, per month*</p>
      <p>{{ .Site.Params.lm_sub }}</p>
      <ul class="pt-dashed-list">
        {{ range .Site.Menus.lm }}
        <li>{{ .Name }}</li>
        {{ end }}
      </ul>
      <p class="position-bottom"><a class="text-red" href="#">See Details</a></p>
    </section>
  </div>
</section>
